<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/public/stylesheets/custom_styles.css">
	<script src="/socket.io/socket.io.js"></script>
	<script>
	io = io.connect();
	$(document).ready(function() {
		$('button').click(function(){
			var name = $('input').val();
			io.emit('new_user', name)
		})
	})
	</script>
</head>
<body>
	<% if(errors) { %>
	<p class='error'><%= errors %></p>
	<% } %>
	Your Name: <input type="text" name="username" required><br>
	<a href="/polls"><button id="loginButton">Login</button></a>
</body>
</html>